body {
    margin: 0 auto;
    max-width: 50em;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #464646;
}
.title_style {
    margin-top: 1em;
    padding-top: 1em;
    color: #2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    text-align: center;
}
.moves {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    color: #464646;
}
.text_area{
    width: 12em;
    height: 6em;
    padding: 1rem 1rem;
    vertical-align: middle;
    display: inline-block;
}
.large_text_area{
    width: 12em;
    height: 6em;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: left;
    display: inline-block;
    text-align: left;  
}
.topbar {
    background: #e4b0b7;
    border-radius: 5px;
    overflow: hidden;
}
.topbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #3a3a3a;
}
.topbar a:hover {
    background-color: #f4d9dc;
}
