{% extends "layout.html" %}
{% block title %}{{ players[0].name }} - {{ players[0].name }}{% endblock %}
{% block content %}
<body>
  Valkeilla pelannut:<br>
  Nimi: <a href="/user_info/{{ players[0].id }}">{{ players[0].name }}</a><br>
  Vahvuusluku: {{ players[0].elo }}
  <br><br>
  Mustilla pelannut:<br>
  Nimi: <a href="/user_info/{{ players[1].id }}">{{ players[1].name }}</a><br>
  Vahvuusluku: {{ players[1].elo }}
  <br><br>
  <form>
    <input type="button" onclick="window.location.href='/'" value="etusivulle" />
  </form>
  <br><br>
  Peli:<br>
  <ul>
    {% for move in moves %}
    {{ move }}
    <br>
    {% endfor %}
  </ul>
</body>
{% endblock %}