{% extends "layout.html" %}
{% block content %}
<body>
  <div style="text-align: center;">
    <span style="padding-left: 2em;">Pelejä: {{ games }}</span> 
    <span style="padding-left: 2em;">Pelaajia: {{ players }}</span> 
    <span style="padding-left: 2em;">Vahvuuslukujen keskiarvo: {{ elo }}</span>
  </div>
  <h2>Tervetuloa käyttämään shakkitietokantaa!</h2>
  <p>
    Tietokantaan pystyt tallentamaan shakkipelejä merkkijonoina. 
    Tietokannan käyttäminen vaatii shakin sääntöjen tietämisen. Muuten 
    ohjelmassa on ohjeet.
  </p>
  <a href="/add_moves">Lisää uusi peli</a>
  <br>
  <a href="/print_games">Näytä kaikki pelit</a>
  <br>
  <a href="/list_players">Tulostaa pelaajat elon mukaan</a>
  <br>
  <a href="/find_games">Hae pelaaja nimellä</a>
</body>
{% endblock %}
