<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Shakkitietokanta</title>
  </head>
    <div class="topbar">
      <p>
        <h1 class="title_style">Shakkitietokanta</h1>
        <div style="text-align: center;">
          <a href="/" style="text-decoration: none;">Etusivu</a>
          <a href="/print_games" style="text-decoration: none;">Kaikki pelit</a>
          <a href="/list_players" style="text-decoration: none;">Kaikki pelaajat</a>
        </div>
      </p>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </div>
</html>