<h1>Uusi peli</h1>
<p>
    Kirjoita siirrot ylös pgn (portable game notation) tiedostomuodossa.<br><br>
    Voit käyttää siirtojen kirjoittamiseen jotakin sovellusta, esimerkiksi<br>
    <a href="https://lichess.org/analysis">Lichess</a> sivustolla pystyt tekemään siirrot laudalla 
    ja kopioimaan siirrot laudan alta kohdasta pgn.
</p>
<br><br>
Pelin siirrot:
<br>
<form action="/post_moves" method="post">
    <textarea name="moves" rows="5" cols="70"></textarea>
    <p>
    <input type="submit" value="Lähetä">
</form>



