{% extends "layout.html" %}
{% block content %}
<body>
  <p>
    Lisää pelin tiedot. ELO tarkoittaa vahvuuslukua.
  </p>
  <form action="/add/{{ game_id }}" method="post">
    Valkeilla pelannut pelaaja: <input type="text" name="player1" required>
    <p>
    Mustilla pelannut pelaaja: <input type="text" name="player2" required>
    <p>
    Valkeilla pelanneen vahvuusluku: <input type="text" name="elo1" required>
    <p>
    Mustilla pelanneen vahvuusluku: <input type="text" name="elo2" required>
    <p>
    Turnaus/tilaisuus: <input type="text" name="event" required>
    <p>
    Päivämäärä: <input type="text" name="date" required>
    <p>
    <input type="submit" value="Lähetä">
  </form>
</body>
{% endblock %}