<form action="/add" method="post">
    Valkeilla pelannut pelaaja: <input type="text" name="player1">
    <p>
    Mustilla pelannut pelaaja: <input type="text" name="player2">
    <p>
    Valkeilla pelanneen vahvuusluku: <input type="text" name="elo1">
    <p>
    Mustilla pelanneen vahvuusluku: <input type="text" name="elo2">
    <p>
    Turnaus/tilaisuus: <input type="text" name="event">
    <p>
    Päivämäärä: <input type="text" name="date">
    <p>
    <input type="submit" value="Lähetä">
    </form>