<form action="/add" method="post">
    Valkeilla pelannut pelaaja: <input type="text" name="username">
    <p>
    Mustilla pelannut pelaaja: <input type="text" name="username">
    <p>
    Valkeilla pelanneen vahvuusluku: <input type="text" name="username">
    <p>
    Mustilla pelanneen vahvuusluku: <input type="text" name="username">
    <p>
    Turnaus/tilaisuus: <input type="text" name="username">
    <p>
    Päivämäärä: <input type="text" name="username">
    <p>
    <input type="submit" value="Lähetä">
    </form>